/* Selector Universal */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables 👍 */
:root {
  --body: #f1ecea;
  --header: #3a251c;
  --menu: #b46424;
  --seccion: #362f2f;
  --fueraSeccion: #b58c7c;
  --piePagina: #3a251c;
  --font: Helvetica, Arial, sans-serif;
}

/* SELECTOR DE ETIQUETA */

body {
  background-color: var(--body);
  font-family: var(--font);
  text-align: justify;
}


/* SELECTORES ID */

#encabezado, #menu, #main, #fueraSeccion, #footer {
  border: 1px solid black;
}

#main-container {
  display: flex;
}

#contenedor {
  margin: 0 auto;
  height: 1000px;
  width: 900px;
  background-color: var(--body);
}

#encabezado {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
  background-color: var(--header);
  color: #ebe8dd;
  font-size: 40px;
}

#menu {
  height: 5%;
  width: 100%;
  background-color: var(--menu);
}

.menu__ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.menu__ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  list-style: none;
}

#main {
  display: inline-block;
  padding: 20px;
  width: 65%;
  background-color: var(--seccion);
  margin-right: 5px;
}

.main__article {
  padding: 20px;
  border: 2px dotted black;
}

.main__title {
  color: #c7c7c7;
  font-size: 30px;
  line-height: 3rem;
  text-transform: uppercase;
}

.main__fun-fact {
  color: #aeaaaa;
  line-height: 3rem;
}

.main__author {
  color: white;
  line-height: 4rem;
}

.main__paragraph {
  color: #d3d3d3;
  line-height: 2rem;
  font-size: 18px;
  margin-bottom: 30px;
}

.main__img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.main__img {
  /* width: 100px;
  height: 200px;
  width: 100%; */
  /* object-fit: cover; */
}

#fueraSeccion {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  background-color: var(--fueraSeccion);
  padding: 30px;
  margin-left: 5px;
}

#fueraSeccion picture {
  display: flex;
  width: 100%;
}

.fueraSeccion__img {
  /* width: 200px; */
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 30px;
}

.fueraSeccion__title {
  color: #1b1b1b;
  font-size: 20px;
  line-height: 2rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.fueraSeccion__list {
  padding-left: 30px;
  font-size: 20px;
  line-height: 3rem;
}

.fueraSeccion__list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.338);
  text-align: center;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  background-color: var(--piePagina);
}

.footer__text {
  color: rgb(223, 223, 215);
  font-size: 25px;
}

a {
  color: #1f4e94;
  font-weight: 500;
  font-size: 20px;
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

img {
  height: 100px;
  width: 100px;
  border: 1px solid white;
  margin: 0px 10px;
  object-fit: cover;
}

@media screen and (max-width: 700px) {
  
  #encabezado {
    height: 250px;
  }

  #encabezado h1 {
    height: 100%;
    padding: 20px;
    text-align: center;
  }

  #contenedor {
    width: 90%;
  }

  #contenedor, #menu, #main-container {
    display: flex;
    flex-direction: column;
  }

  #menu, .menu__ul {
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  #main-container {
    display: flex;
    flex-direction: column;
  }

  #main-container > * {
    margin: 0 auto;
    width: 100%;
  }

  #footer {
    padding: 30px;
    min-height: 100px;
    text-align: center;
  }

}