* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  text-align: center;
}

.contenedor {
  margin: auto;
  background-color: rgb(255, 224, 158);
  height: 600px;
  width: 900px;
  border: 5px solid black;
}

h1 {
  padding-top: 20px;
}

.nombre {
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: bold;
}

.nombre input {
  width: 420px;
  height: 25px;
  margin-left: 20px;
}

.fechaNacimiento {
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  font-weight: bold;
}

.fechaNacimiento input {
  width: 150px;
  margin-left: 20px;
  height: 25px;
}

.lugarNacimiento {
  font-weight: bold;
  text-align: right;
  margin-top: -130px;
  padding-right: 225px; /* *** */
  margin-bottom: 100px;
}

.lugarNacimiento select {
  margin-left: 20px;
  width: 155px;
  height: 25px;
}

.poblacion {
  float: right;
  margin-top: -143px;
  margin-right: 10px;
  font-weight: bold;
  text-align: left;
}

.poblacion input {
  height: 20px; 
}

.idiomas {
  text-align: left;
  float: right;
  margin-top: -90px;
  margin-right: 40px;
}

.idiomas li {
  height: 70px;
  width: 500px;
  background-color: rgb(1,1,1,.10);
  list-style: none;
}

.idiomas input {
  margin-top: 30px;
  margin-left: 35px;
}

.sexo {
  text-align: left;
  padding-left: 20px;
  padding-top: 30px;
  width: 240px;
}

.sexo li {
  height: 60px;
  width: 265px;
  background-color: rgb(1,1,1,.10);
  list-style: none;
}

.sexo input {
  margin-top: 20px;
  margin-left: 20px;
}

.correo {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 210px;
  float: left;
  margin-left: 20px;
  height: 45px;
  color: black;
  font-weight: bold;
  text-align: left;
}

.correo input {
  height: 100%;
}

.egresoPrimaria {
  float: left;
  text-align: left;
  padding-top: 20px;
  padding-right: 400px;
  padding-left: 20px;
  font-weight: bold;
}

.egresoPrimaria input {
  margin-left: 10px;
  margin-top: 10px;
  height: 30px;
}

.habitos {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  text-align: left;
  float: right;
  margin-top: -90px;
  font-weight: bold;
}

.habitos textarea {
  width: 450px;
}

.ingresos {
  display: flex;
  flex-direction: column;
  text-align: center;
  float: left;
  font-weight: bold;
  margin-top: 45px;
}

.ingresos input {
  margin-top: 20px;
  width: 400px;
}

.horario {
  float: right;
  margin-top: 20px;
  margin-right: 100px;
  font-weight: bold;
}

.horario input {
  margin-top: 10px; /* *** */
  max-width: 100px;
}

#botones {
  height: 50px;
  width: 300px;
}

#botones > div {
  display: flex;
  flex-direction:row-reverse;
  gap: 10px;
  margin-left: 50px;
  padding: 20px;
  height: 100%;
  width: 100%;
}

#listaIngresos__label {
  font-size: 8px;
  word-spacing: 2.2em;
}