/* GLOBAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIABLES */

:root {
  --primary-color: #333333;
  --secondary-color: #ffffff;
  --font: monospace, 'Courier New', Courier;
  --secondary-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* GENERAL SELECTORS */

body {
  background-color: var(--primary-color);
  font-family: var(--font);
}

a {
  color: white;
}

/* HEADER */

#header {
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
  font-family: var(--secondary-font);
  font-size: 20px;
}

#header > picture {
  height: 80%;
  margin-right: 40px;
  padding: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.336);

}

.header__img {
  width: 250px;
  object-fit: cover;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  margin-bottom: 20px;
  padding: 0px 10px;
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid #ffb937;
  line-height: 3rem;
}

/* NAV */

/* theres only a single nav, we gonna work with,
    so no need to do smth like header__nav
*/
#nav {
  width: 100%;
}

.nav__list {
  display: flex;
  width: 100%;
  gap: 20px;
}

#nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 20px orange;
  padding: 10px 5px;
  list-style-type: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

#nav li:hover {
  border-bottom: 1px solid #ffffff;
}

#nav a {
  text-decoration: none;
}

#nav a:hover {
  text-decoration: none;
  color: orange;
}

#nav picture {
  padding: 10px;
}

.nav__img {
  width: 15px;
}

/* CONTAINER */

#container {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 50px;
}

#main-container {
  display: flex;
  width: 100%;
  background-color: var(--secondary-color);
}

/* MAIN */

#main {
  padding: 20px;
  width: 75%;
}

.main__article {
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.main__title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.494);
  line-height: 5rem;
  font-size: 40px;
  text-transform: uppercase;
}

.title {
  display: flex;
  margin: 20px 0px;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: crimson;
}

.title p {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  color: white;
}

.aside__article .title p {
  margin: 0px;
  font-size: 22px;
}

.main__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
}

.main__picture--characters:hover {
  background-color: #da4b4b;
  color: #ffffff;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.main__picture--characters {
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  border-radius: 0px 0px 20px 0px;
}

.main__img {
  padding: 0px 30px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: #f7f7f7;
}

.main__img--characters {
  margin-bottom: 20px;
}

.main__img--author {
  padding: 0px 60px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: #f7f7f7;
}

.main__info {
  margin: 20px auto;
  padding: 30px;
  width: 90%;
  border: 2px solid crimson;
  border-radius: 10px;
}

.main__title--info {
  line-height: 4rem;
  font-size: 30px;
}

.main__text {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 18px;
}

.main__img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.active {
  display: grid !important;
}

.inactive {
  display: none !important;
}

.main__tab {
  display: flex;
  padding: 0px 30px 30px 30px;
  gap: 30px;
  align-items: center;
}

.main__tab a {
  font-size: 20px;
  font-family: var(--secondary-font);
  text-decoration: none;
  cursor: pointer;
}

.main__tab a:hover {
  color: #7ca5ff;
}

.tab__active {
  padding: 20px 0px;
  color: #2961da;
  border-bottom: 3px solid #2961da;
}

.tab__inactive {
  color: #ffa229;
}

/* ASIDE */

#aside {
  padding: 20px;
  width: 25%;
  background-color: rgb(248, 248, 248);
}

.aside__article {
  margin: 0 auto;
  width: 90%;
  border-left: 2px solid #9c1e1e;
  border-bottom: 2px solid #9c1e1e;
  border-radius: 0px 10px 0px 10px;
}

.aside__picture {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.aside__img {
  padding: 20px;
  width: 80%;
}

.aside__picture span {
  padding: 0px 20px 30px 20px;
  font-size: 12px;
  text-align: justify;
  font-style: italic;
  line-height: 1.5rem;
}

/* FOOTER */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: rgb(36, 36, 36);
  border-top: 1px solid crimson;
  color: #ffffff;
}

.footer__socials {
  margin-right: 20px;
  padding-right: 50px;
  border-right: 1px solid white;
}

#footer li {
  display: flex;
  margin-bottom: 10px;
  padding: 10px 0px;
  height: 30px;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

#footer picture {
  display: flex;
  margin-right: 20px;
}

#footer li:hover {
  border-bottom: 1px solid white;
}

.footer__img {
  width: 20px;
  object-fit: contain;
}

.footer_credits p {
  text-align: center;
}

@media screen and (max-width: 1068px) {

  #header > picture {
    display: none;
  }

  #header {
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
  }

  #main-container {
    display: flex;
    flex-direction: column;
  }

  #main, #aside {
    width: 100%;
  }

  .main__img-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .aside__picture span {
    font-size: 16px;
  }

  .aside__img {
    width: 50%;
  }

}

@media screen and (max-width: 700px) {

  .main__img-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .aside__img {
    width: 80%;
  }

}