/* Selector Universal */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables 👍 */
:root {
  --primary-color: #181818;
  --secondary-color: #f3f3f3;
  --hard-gray: #242424;
  --lite-gray: #bababa;
  --pure-white: #ffffff;
  --pure-green: rgb(103, 189, 107);
  --hard-green: #63a117;
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Selector de etiqueta */

body {
  background-color: rgb(31, 31, 31);
  color: var(--secondary-color); 
}

/* Selector de clase */
.texto {
  text-align: justify;
  font-family: var(--font);
  font-size: 20px;
  line-height: 2.5rem;
  padding: 5px 25px;
  color: #000000;
}

.img {
  margin-top: 20px;
  width: 300px;
  border-radius: 5px;
  justify-content: center;
}

.encabezado-articulo {
  margin: 1em 2em;
  padding: 10px;
  background-color: var(--pure-green);
  border-radius: 5px;
  color: rgb(255,255,255);
  text-align: center;
}

.encabezado-aside {
  margin: 1em 2em;
  padding: 10px 10px;
  background-color: var(--pure-green);
  color: white;
  text-align: center;
}

.menu-aside {
  text-align: center;
  font-family: var(--font);
  font-size: 20px;
  padding: 0 25px;
}

.lista-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lista-aside > li {
  display: flex;
  padding: 0 , 2px;
  font-family: var(--font);
  text-align: left;
  font-size: 20px;
  list-style: square;
  color: #000000;
}


/* SELECTOR ID */

#contenedor {
  margin: 0 auto;
  width: 900px;
  min-height: 1000px;
  border-radius: 5px;
  background-color: #ffffff;
}

#encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  padding: 0 50px;
}

#encabezado header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 95%;
  background-color: var(--hard-green);
}

#menu {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 75px;
  background-color: var(--lite-gray);
  margin: 1em;
  border-radius: 5px;
}

#menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu a {
  min-width: 200px;
}

#contenido {
  height: 75%;
  width: 58%;
  background-color: var(--lite-gray);
  margin: 0.5em;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

#fueraSeccion {
  height: 75%;
  width: 35%;
  margin: 0.5em;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  background-color: var(--lite-gray);
}


#fueraSeccion a {
  padding: 50px;
}

#pie {
  /* height: 10%; */
  background-color: var(--hard-green);
  margin-top: 1.5em;
  text-align: center;
  padding: 5px;
}

#pie > h4 {
  padding: 15px;
  font-size: 20px;
}

/* SELECTOR DE ETIQUETA */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 50px;
  text-align: center;
}

ul {
  text-align: center;
  width: 100%;
  height: 100%;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

li > a:hover {
  background-color: crimson;
  color: var(--pure-white);
  text-decoration: none;
  list-style: none;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #247cff;
  width: 100%;
  height: 100%;
  min-width: 100px;
}

@media screen and (max-width: 700px) {
  
  #encabezado {
    padding: 0px;
  }

  #contenedor, #menu, #contenido, #fueraSeccion, #pie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
  }

  #contenedor {
    padding: 0px;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #contenido, #fueraSeccion {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  #menu, nav, ul {
    display: flex;
    flex-direction: column;
  }

  #menu {
    height: 50vh;
  }

  nav a {
    height: 100%;
  }
  
}